<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 화면</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container" style="max-width: 1800px;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card" style="max-width: 1800px;">
                <div class="card-header">게시글 상세</div>
                <div class="card-body">
                    <h5 class="card-title">제목: <span th:text="${post.title}"></span></h5>
                    <hr>
                    <p class="card-text" th:text="${post.content}"></p>
                </div>
                <div class="card-footer">
                    <p class="text-muted">작성자: <span th:text="${post.member.nickname}"></span></p>
                    <p class="text-muted">작성일: <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>